<!DOCTYPE html>
<html lang="zh">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->

    <title>登录或注册</title>

    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/js/axios.js}"></script>
    <script th:src="@{/js/jsencrypt.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>
<body>

<div id="app">
    <div :class="['container', layoutType? '': 'right-panel-active']">
        <div class="form-container sign-up-container">
            <div class="form">
                <h1>注册</h1>
                <div class="txtb">
                    <input type="text" v-model="signData.username" @blur="usernameAsyncCheck"
                           @focus="cleanUsernameTips" placeholder="请输入用户名">
                    <span v-show="showUsernameTips" :class="userNameTipsStyle" v-html="usernameTips"></span>
                </div>
                <div class="txtb">
                    <input v-model="signData.email" type="email" @blur="emailCheck" @focus="cleanEmailTips" placeholder="请输入邮箱">
                    <span v-show="showEmailTips" :class="emailTipsStyle" v-html="emailTips"></span>
                </div>
                <div class="txtb">
                    <input v-model="signData.password1" type="password" @blur="passwordCheck"
                           @focus="cleanPasswordTips" placeholder="请输入密码">
                    <span v-show="showPasswordTips" :class="passWordTipsStyle" v-html="passwordTips"></span>
                </div>
                <div class="txtb">
                    <input type="password" v-model="signData.password2" @blur="passwordEnsureCheck"
                           @focus="cleanEnsurePasswordTips" placeholder="请确认密码">
                    <span v-show="showEnsurePasswordTips" :class="ensurePassWordTipsStyle"
                          v-html="ensurePasswordTips"></span>
                </div>
                <button @click="sign">注册</button>
            </div>
        </div>
        <div class="form-container sign-in-container">
            <div class="form">
                <h1>登录</h1>
                <div class="txtb">
                    <input type="text" v-model="loginData.username" @blur="loginUsernameCheck"
                           @focus="cleanLoginUsernameTips" placeholder="请输入用户名">
                    <span v-show="showLoginUsernameTips" :class="loginUsernameTipsStyle" v-html="loginUsernameTips"></span>
                </div>
                <div class="txtb">
                    <input type="password" v-model="loginData.password" @blur="loginPasswordCheck" @focus="cleanLoginPasswordTips" placeholder="请输入密码">
                    <span v-show="showLoginPasswordTips" :class="loginPasswordTipsStyle" v-html="loginPasswordTips"></span>
                </div>

                <div class="txtb" v-show="showCallbackTips">
                    <span style="color: red">账号或密码不正确</span>
                </div>


                <a th:href="@{/user/forgot}" target="_blank">忘记密码？</a>
                <button @click="login">登录</button>
            </div>

        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>已有账号？</h1>
                    <p>请使用您的账号进行登录</p>
                    <button class="ghost" @click="changeType">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>没有账号？</h1>
                    <p>立即注册开始使用</p>
                    <button class="ghost" @click="changeType">注册</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

<script th:inline="javascript">

    function avoidConflictDomain() {
        return [[${dynamicDomain}]];
    }

    const encrypt = new JSEncrypt();
    const publicKey = [[${rsaPublicKey}]]
    encrypt.setPublicKey(publicKey);

    function doEncrypt(e){
        return encrypt.encrypt(e);
    }

</script>

<script>

    const dynamicDomain = avoidConflictDomain();
    console.log(dynamicDomain)
    new Vue({

        el: '#app',

        data: {
            layoutType: true,

            loginData: {
                username: '',
                password: '',
            },

            signData: {
                username: '',
                email: '',
                password1: '',
                password2: '',
            },

            usernameTips: '',
            showUsernameTips: false,
            showPasswordTips: false,
            showEnsurePasswordTips: false,
            showEmailTips: false,
            passwordTips: '',
            ensurePasswordTips: '',
            emailTips: '',
            userNameTipsStyle: '',
            passWordTipsStyle: '',
            ensurePassWordTipsStyle: '',
            emailTipsStyle: '',

            showLoginUsernameTips: '',
            showLoginPasswordTips: '',

            loginUsernameTipsStyle: '',
            loginPasswordTipsStyle: '',

            loginUsernameTips: '',
            loginPasswordTips: '',

            showCallbackTips: ''

        },
        methods: {
            computed() {

            },
            changeType() {
                this.layoutType = !this.layoutType;
            },
            loginUsernameCheck() {

                const val = this.loginData.username

                if (val) {

                    if (!/^[\w-]{6,12}$/.test(val)) {
                        this.loginUsernameTips = '用户名必须由 6-12 位字母、数字、下划线或减号组成'
                        this.loginUsernameTipsStyle = 'text-danger'; // 设置为红色
                        this.showLoginUsernameTips = true
                        return false;
                    }
                    return true;
                }
                return false;
            },
            loginPasswordCheck() {
                const val = this.loginData.password
                if (val) {
                    if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(val)) {
                        this.loginPasswordTips = '密码必须包含大小写字母和数字的组合，可以使用特殊字符，长度在 8-10 之间 ×'
                        this.loginPasswordTipsStyle = 'text-danger'; // 设置为红色
                        this.showLoginPasswordTips = true
                        return false;
                    }
                    return true;
                }
                return false;
            },
            login() {

                if (!this.loginData.username) {
                    alert('请输入登陆账户')
                    return;
                }

                if (!this.loginData.password) {
                    alert('请输入登录密码')
                    return;
                }

                if (!this.loginUsernameCheck() || !this.loginPasswordCheck()) {
                    alert("请正确输入用户名或密码")
                    return;
                }

                axios.post(dynamicDomain + '/user/login', {
                    username: doEncrypt(this.loginData.username),
                    password: doEncrypt(this.loginData.password),
                }, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                        // [document.querySelector('meta[name=_csrf]').getAttribute('content')]: document.querySelector('meta[name=_csrf_header]').getAttribute('content')
                    }, followRedirect: true
                }).then(response => {
                    console.log(response)
                    if (response.data.code === 200) {
                        window.location.href = dynamicDomain + '/user/main';
                    }

                    if (response.data.code === 403) {
                        this.loginPasswordTips = '账号或密码错误，请重新输入 ×';
                        this.loginPasswordTipsStyle = 'text-danger';
                        this.showLoginPasswordTips = true;
                        return false;
                    }
                }).catch(error => {
                    console.log(error.code)
                    alert("请求失败\n\n状态码：" + error.code + "\n\n信息：" + error.message)
                })
            },
            sign() {
                if (!this.usernameAsyncCheck()) {
                    alert('请正确输入用户名');
                    return;
                }
                if (!this.emailCheck()) {
                    alert('请正确输入注册邮箱')
                    return;
                }
                if (!this.passwordCheck()) {
                    alert('请正确输入密码')
                    return;
                }
                if (!this.passwordEnsureCheck()) {
                    alert('请正确输入确定密码')
                    return;
                }

                axios.post(dynamicDomain + '/user/register', {
                    username: doEncrypt(this.signData.username),
                    password: doEncrypt(this.signData.password1),
                    ensure: doEncrypt(this.signData.password2),
                    email: doEncrypt(this.signData.email),
                }, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                        // [document.querySelector('meta[name=_csrf]').getAttribute('content')]: document.querySelector('meta[name=_csrf_header]').getAttribute('content')
                    }
                })
                    .then(response => {
                        // 处理响应数据
                        if (response.data === 'SC_REGISTER_SUCCESS') {
                            alert("注册成功");
                            window.location.replace(dynamicDomain + "/user/login");
                        } else {
                            alert("注册失败，以下是相关信息：\n\n" + JSON.stringify(response))
                        }
                    })
                    .catch(error => {
                        console.log(error)
                        alert("请求失败\n\n状态码：" + error.code + "\n\n信息：" + error.message)
                    })
            },

            usernameAsyncCheck() {
                const val = this.signData.username
                if (val) {

                    if (!/^[\w-]{6,12}$/.test(val)) {
                        this.usernameTips = '用户名必须由 6-12 位字母、数字、下划线或减号组成'
                        this.userNameTipsStyle = 'text-danger'; // 设置为红色
                        this.showUsernameTips = true
                        return false;
                    }

                    axios.get(dynamicDomain + '/user/register/async-check', {
                        params: {
                            action: 'username',
                            value: doEncrypt(val)
                        }
                    })
                        .then(response => {
                            // 处理响应数据
                            if (response.data === 'SC_REGISTER_USERNAME_EXISTS') {
                                this.usernameTips = '用户名已存在 ×'
                                this.userNameTipsStyle = 'text-danger'; // 设置为红色
                                this.showUsernameTips = true
                                return false;
                            } else if (response.data === 'OK') {
                                this.usernameTips = '账户可用 √'
                                this.userNameTipsStyle = 'text-success'; // 设置为绿色
                                this.showUsernameTips = true;
                            }
                        })
                        .catch(error => {
                            // 处理请求错误
                            console.log(error)
                            alert("请求失败\n\n状态码：" + error.code + "\n\n信息：" + error.message)
                            return false;
                        })
                    return true;
                }
                return false;
            },

            passwordCheck() {
                const val = this.signData.password1;
                if (val) {
                    if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(val)) {
                        this.passwordTips = '密码必须包含大小写字母和数字的组合，可以使用特殊字符，长度在 8-10 之间 ×';
                        this.passWordTipsStyle = 'text-danger'; // 设置为红色
                        this.showPasswordTips = true
                        return false;
                    }
                    return true
                }
                this.passwordEnsureCheck()
                return false;
            },

            passwordEnsureCheck() {
                if (this.signData.password1 !== this.signData.password2) {
                    this.ensurePasswordTips = '密码不一致，请重新输入 ×'
                    this.ensurePassWordTipsStyle = 'text-danger'; // 设置为红色
                    this.showEnsurePasswordTips = true
                    return false;
                }
                return true;
            },

            emailCheck() {
                const val = this.signData.email;
                if (val) {
                    if (!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test(val)) {
                        this.emailTips = '输入的邮箱地址不符合规则 ×'
                        this.emailTipsStyle = 'text-danger'; // 设置为红色
                        this.showEmailTips = true
                        return false;
                    }

                    axios.get(dynamicDomain + '/user/register/async-check', {
                        params: {
                            action: 'email',
                            value: doEncrypt(val)
                        }
                    })
                        .then(response => {
                            // 处理响应数据
                            console.log(response)
                            if (response.data === 'SC_REGISTER_EMAIL_EXISTS') {
                                this.emailTips = '邮箱地址已被注册 ×'
                                this.emailTipsStyle = 'text-danger'; // 设置为红色
                                this.showEmailTips = true
                                return false;
                            } else if (response.data === 'OK') {
                                this.emailTips = '邮箱可用 √'
                                this.emailTipsStyle = 'text-success'; // 设置为绿色
                                this.showEmailTips = true;
                            }
                        })
                        .catch(error => {
                            // 处理请求错误
                            console.log(error)
                            alert("请求失败\n\n状态码：" + error.code + "\n\n信息：" + error.message)
                        })
                    return true;
                }
                return false;
            },
            cleanUsernameTips() {
                this.usernameTips = ''
                this.showUsernameTips = false
            },
            cleanPasswordTips() {
                this.passwordTips = ''
                this.showPasswordTips = false;
            },
            cleanEnsurePasswordTips() {
                this.ensurePasswordTips = ''
                this.showEnsurePasswordTips = false;
            },
            cleanEmailTips() {
                this.emailTips = ''
                this.showEmailTips = false
            },
            cleanLoginUsernameTips() {
                this.loginUsernameTips = ''
                this.showLoginUsernameTips = false
            },
            cleanLoginPasswordTips() {
                this.loginPasswordTips = ''
                this.showLoginPasswordTips = false;
            }
        }
    })
</script>
</html>