<!DOCTYPE html>
<html lang="zh">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎您，[[${username}]]</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:inline="javascript">
        $(function () {
            const dynamicDomain = [[${dynamicDomain}]];
            $('#logout').on('click', function () {
                $.get(dynamicDomain + '/user/sessionLogOut', function (response) {
                    console.log(response);
                    if (response.code === 200) {
                        alert("账户已退出，点击确定/关闭返回登陆页")
                        window.location.reload()
                    } else {
                        alert("退出登陆失败");
                    }
                }, "json");
            });
        });

    </script>
</head>
<body>

<div class="navbar-inner">
    <div class="container-fluid">
        <!--        <div class="logo-manage"><img src=""></div>-->
        <!--<a class="brand pull-left" th:href="@{[[${dynamicDomain}]]}/login" href="https://www.processimage.cn:4433/login">processImage.cn</a>-->
        <a class="brand pull-left" th:href="@{__${dynamicDomain}__/access}">processImage.cn</a>
        <ul class="nav navbar-nav user_menu">
            <li><a th:href="@{/img/me.jpg}">联系</a></li>
            <li><a href="javascript:alert('充值请联系作者')">充值</a></li>
            <li><a href="javascript:alert('您没有收到任何消息')">站内信</a></li>
            <li><a th:href="@{/user/getApiDetails}" target="_blank">调用详情</a></li>
            <li><a th:href="@{/}" target="_blank">测试页</a></li>
            <li><a th:href="@{/ApiDocument.html}" target="_blank">API 接入文档</a></li>
            <li><a th:href="@{/APIPrice.html}" target="_blank">API 接入价格</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SDK 方案
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/SDK/Java/java-sdk-maven.zip}">JavaSDK</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/SDK/Python/pythonSDK.html}">PythonSDK</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                        th:src="@{/img/user_avatar.png}" alt="" class="user_avatar">[[${username}]]
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="javascript:alert('充值请联系作者')">充值</a></li>

                    <li class="divider"></li>
                    <li><a th:href="@{/user/change}">修改密码</a></li>

                    <li class="divider"></li>
                    <li><a href="#" id="logout">退出</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<div class="table-box"><table><tr><th>账号名称：</th><td>[[${username}]]</td></tr><tr><th>账号公钥：</th><td>[[${publicKey}]]</td></tr><tr><th>账号私钥：</th><td>[[${privateKey}]]</td></tr><tr><th>账号可调用次数：</th><td>[[${apiCanUseCount}]]</td></tr><tr><th>账号已调用次数：</th><td>[[${apiUsedCount}]]</td></tr></table></div>

</body>
</html>