<!DOCTYPE html>
<html lang="zh">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎您，[[${username}]]</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        /* 调整导航条样式 */
        .layui-nav {
            text-align: right;
        }

        /* 将导航条的文本右对齐 */
        .layui-nav-item {
            float: none;
            display: inline-block;
        }

        /* 设置每一项为内联块级元素，取消浮动 */
        body, html {
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
        }
        iframe {
            max-width: 100%;
            max-height: 100%;
            border: none; /* 移除 iframe 边框 */
        }
    </style>

    <script>

        window.onload = function () {
            window.parent.document.body.addEventListener('scroll', function (event){event.preventDefault()})

            window.localStorage.setItem('operationCompleted', 'no');
            window.addEventListener('storage', function (event) {
                if (event.storageArea === localStorage && event.key === 'operationCompleted') {

                    if (event.newValue === 'yep') {
                        localStorage.setItem('operationCompleted', 'no')

                        layer.alert('您已完成作支付，点击确定刷新页面', {
                            icon: 1,
                            shadeClose: false,
                            closeBtn: 0,
                            title: '支付完成'
                        }, function () {
                            window.location.reload();
                        });
                    }
                }
            });

            // var container = document.getElementById('container')
            //
            // var iframeDocument = container.contentDocument || container.contentWindow.document;
            // window.addEventListener('message', function (event) {
            //     // 进行滚动操作
            //     var scrollTarget = event.data.scrollTarget;
            //     var targetElement = iframeDocument.querySelector(scrollTarget);
            //     if (targetElement) {
            //         targetElement.scrollIntoView({behavior: 'smooth'});
            //     }
            // });


        };


    </script>

    <script th:inline="javascript">
        $(function () {
            const dynamicDomain = [[${dynamicDomain}]];
            $('#logout').on('click', function () {
                $.get(dynamicDomain + '/user/sessionLogOut', function (response) {
                    console.log(response);
                    if (response.code === 200) {
                        alert("账户已退出，点击确定/关闭返回登陆页")
                        window.location.href = dynamicDomain;
                    } else {
                        alert("退出登陆失败");
                    }
                }, "json");
            });
        });

    </script>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a th:href="@{__${dynamicDomain}__/access}">processImage.cn</a></li>
    <li class="layui-nav-item layui-this">
        <a href="">基本信息</a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/ApiDocument.html}" class="change_src">接入文档</a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/order/topay}" class="change_src">账户充值</a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/user/getApiDetails}" class="change_src">调用详情</a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/access/upload}" class="change_src">接入测试</a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/img/me.jpg}" class="change_src">联系客服</a>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:">SDK & DEMO</a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/sdk/java/java-sdk-maven.zip}" style="text-align: center">java-sdk</a></dd>
            <dd><a th:href="@{/sdk/python/python-demo.html}" style="text-align: center"  class="change_src">python-demo</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="#">站内信<span class="layui-badge">0</span></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;">
            <img th:src="@{/img/user_avatar.png}" class="layui-nav-img">
        </a>
        <dl class="layui-nav-child">
            <dd><a href="#" style="text-align: center">[[${username}]]</a></dd>
            <hr>
            <dd><a th:href="@{/user/change}"  class="change_src">修改密码</a></dd>
            <dd style="text-align: center;"><a id="logout" href="#">退出登陆</a></dd>
        </dl>
    </li>
</ul>

<iframe id="container" width="100%" height="100%" frameborder="0" th:src="@{/ApiDocument.html}" hidden="hidden"></iframe>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var links = document.getElementsByClassName("change_src")
        var container = document.getElementById("container")
        var basic = document.getElementById("basic")

        for (let i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function (e) {
                if (this.innerText === '联系客服') {
                    return
                }
                e.preventDefault();
                if (this.innerText === '基本信息') {
                    // 隐藏 iframe
                    container.hidden = true;
                    basic.hidden = false;
                } else {
                    // 显示 iframe，并更新 src
                    container.hidden = false;
                    container.src = this.href;
                    basic.hidden = true;
                }
                container.src = this.href;
            });
        }
    });
</script>

<div class="table-box" id="basic">
    <table>
        <tr>
            <th>账号名称：</th>
            <td>[[${username}]]</td>
        </tr>
        <tr>
            <th>账号公钥：</th>
            <td>[[${publicKey}]]</td>
        </tr>
        <tr>
            <th>账号私钥：</th>
            <td>[[${privateKey}]]</td>
        </tr>
        <tr>
            <th>账号可调用次数（包括限时套餐次数）：</th>
            <td>[[${apiCanUseCount}]]</td>
        </tr>
        <tr>
            <th>账号已调用次数：</th>
            <td>[[${apiUsedCount}]]</td>
        </tr>
        <tr>
            <th>按需套餐剩余次数</th>
            <td>[[${longTermUsageCount}]]</td>
        </tr>
        <tr>
            <th>限期套餐剩余次数</th>
            <td>[[${limitedTermUsageCount}]]</td>
        </tr>
        <tr>
            <th>限期套餐到期时间</th>
            <td>[[${limitedTermExpireTimes}]]</td>
        </tr>

    </table>
</div>

</body>
</html>