<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeffrey.processimageservice.mapper.ProcessStatusServiceImplMapper">

    <insert id="save">
        INSERT INTO `process_status` (status, message, sign, create_time, aid)
        VALUES (#{status}, #{message}, #{sign}, #{createTime}, #{aid});
    </insert>

    <select id="selectIdByUserOpenId" resultType="java.lang.Integer">
        SELECT `id` FROM `public_account` WHERE `openid` = #{openid}
    </select>

</mapper>