<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeffrey.processimageservice.mapper.RegisterControllerServiceMapper">

    <insert id="creationKey">
        INSERT INTO `authorized_accounts_list` (id, app_id, app_secret)
        VALUES (#{arg0}, #{arg1}, #{arg2})
    </insert>

    <select id="usernameIsExists" resultType="java.lang.Integer">
        SELECT COUNT(`username`)
        FROM `account`
        WHERE `username` = #{username}
    </select>

    <select id="emailIsExists" resultType="java.lang.Integer">
        SELECT COUNT(`email`)
        FROM `account`
        WHERE `email` = #{email}
    </select>

    <insert id="register" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `account` (`username`, `password`, `email`, `long_term_usage_count`,`limited_term_usage_count`, `limited_term_expire_times`, `call_successful`, `last_modify`)
        VALUES (#{registerParams.username},
                #{registerParams.password},
                #{registerParams.email},
                #{initAccountParams.longTermUsageCount},
                #{initAccountParams.limitedTermUsageCount},
                #{initAccountParams.limitedTermExpireTimes},
                #{initAccountParams.callSuccessful},
                #{creationTime});
    </insert>
</mapper>
