<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeffrey.processimageservice.mapper.SignatureVerificationInterceptorMapper">

    <select id="getAppSecret" resultType="com.jeffrey.processimageservice.entities.sign.EncryptedInfo">
        SELECT id, app_id as appId, app_secret as appSecret FROM `authorized_accounts_list` WHERE `app_id` = #{appId}
    </select>

</mapper>